<component name="ArtifactManager">
  <artifact name="App">
    <output-path>$PROJECT_DIR$/jar/App</output-path>
    <root id="root">
      <element id="library" level="project" name="KotlinJavaRuntime" />
      <element id="archive" name="Line.jar">
        <element id="directory" name="META-INF">
          <element id="file-copy" path="$PROJECT_DIR$/App/src/meta/META-INF/MANIFEST.MF" />
        </element>
        <element id="module-output" name="App" />
      </element>
      <element id="archive" name="Triangle.jar">
        <element id="directory" name="META-INF">
          <element id="file-copy" path="$PROJECT_DIR$/App/src/meta/META-INF2/MANIFEST.MF" />
        </element>
        <element id="module-output" name="App" />
      </element>
      <element id="archive" name="lib.jar">
        <element id="module-output" name="FindLine" />
      </element>
    </root>
  </artifact>
</component>